/* Pacman CSS */
#wrapper {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.frame,
.row {
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
}

.illustration {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    margin-left: -150px;
    margin-top: -150px;

    animation: body_move 6s ease 1s infinite;
    -webkit-animation: body_move 6s ease 1s infinite;
}

@-webkit-keyframes body_move {
    25% {
        margin-top: -120px;
    }

    50% {
        margin-top: -170px;
    }

    75% {
        margin-top: -130px;
    }

    100% {
        margin-top: -150px;
    }
}

@keyframes body_move {
    25% {
        margin-top: -120px;
    }

    50% {
        margin-top: -170px;
    }

    75% {
        margin-top: -130px;
    }

    100% {
        margin-top: -150px;
    }
}

/*--------------------------------------------------
  // PACMAN GHOST
---------------------------------------------------*/

.base-color {
    background-color: #E53838;

    animation: body_color 8s ease 1s infinite;
    -webkit-animation: body_color 8s ease 1s infinite;
}

@-webkit-keyframes body_color {
    25% {
        background-color: #EFB351;
    }

    50% {
        background-color: #72D6CC;
    }

    75% {
        background-color: #F9C5E2;
    }

    100% {
        background-color: #E53838;
    }
}

@keyframes body_color {
    25% {
        background-color: #EFB351;
    }

    50% {
        background-color: #72D6CC;
    }

    75% {
        background-color: #F9C5E2;
    }

    100% {
        background-color: #E53838;
    }
}

li.a-left,
.eye-left {
    float: left;
}

li.a-right,
.eye-right {
    float: right;
}


/*
---------
HEAD
---------
*/
.row-head-ghost,
.body-ghost,
ul.ghost-foot {
    text-align: center;
    width: 100%;
    float: left;
}

.head-ghost {
    height: 22px;
    display: block;
    margin: 0 auto;
    clear: both;
    width: 100%;
}

.head-ghost.line1 {
    max-width: 80px;
}

.head-ghost.line2 {
    max-width: 168px;
}

.head-ghost.line3 {
    max-width: 212px;
}

.head-ghost.line4 {
    height: 44px;
    max-width: 256px;
}

.wrap-eyes-ghost {
    position: absolute;
    width: 212px;
    height: 110px;
    top: -44px;
    left: 44px;
}

.eye-ghost {
    width: 88px;
    height: 110px;
}

.row-retina {
    width: 100%;
    height: 66px;
    float: left;
    position: relative;
    margin: 22px 0;
    background-color: #FFF;
}

.row-retina:before,
.row-retina:after {
    width: 44px;
    height: 22px;
    left: 22px;
    position: absolute;
    content: "";
    background-color: #FFF;
}

.row-retina:before {
    top: -22px;
}

.row-retina:after {
    bottom: -22px;
}

.pupil-ghost {
    width: 44px;
    height: 44px;
    background-color: #000;
    position: absolute;
    z-index: 20;
    bottom: -22px;
    left: 22px;

    animation: pupil-move 16s ease 1s infinite;
    -webkit-animation: pupil-move 16s ease 1s infinite;
}



@keyframes pupil-move {
    15% {
        bottom: -22px;
        left: 22px;
    }

    20% {
        bottom: 44px;
        left: 22px;
    }

    30% {
        bottom: 44px;
        left: 22px;
    }

    35% {
        bottom: 0px;
        left: 44px;
    }

    45% {
        bottom: 0px;
        left: 44px;
    }

    50% {
        bottom: 0px;
        left: 0px;
    }

    60% {
        bottom: 0px;
        left: 0px;
    }

    65% {
        bottom: 22px;
        left: 44px;
    }

    75% {
        bottom: 22px;
        left: 44px;
    }

    80% {
        bottom: 22px;
        left: 0px;
    }

    90% {
        bottom: 22px;
        left: 0px;
    }

    95% {
        bottom: -22px;
        left: 22px;
    }
}

@-webkit-keyframes pupil-move {
    15% {
        bottom: -22px;
        left: 22px;
    }

    20% {
        bottom: 44px;
        left: 22px;
    }

    30% {
        bottom: 44px;
        left: 22px;
    }

    35% {
        bottom: 0px;
        left: 44px;
    }

    45% {
        bottom: 0px;
        left: 44px;
    }

    50% {
        bottom: 0px;
        left: 0px;
    }

    60% {
        bottom: 0px;
        left: 0px;
    }

    65% {
        bottom: 22px;
        left: 44px;
    }

    75% {
        bottom: 22px;
        left: 44px;
    }

    80% {
        bottom: 22px;
        left: 0px;
    }

    90% {
        bottom: 22px;
        left: 0px;
    }

    95% {
        bottom: -22px;
        left: 22px;
    }
}

/*
---------
BODY
---------
*/
.body-ghost {
    height: 170px;
    position: relative;
}


/*---------
FOOT
---------*/

ul.ghost-foot {
    list-style: none;
}

ul.ghost-foot li {
    display: inline-block;
    width: 80px;
}

ul.ghost-foot li .line1,
ul.ghost-foot li .line2 {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    height: 22px;
}

ul.ghost-foot li .line1 {
    max-width: 80px;
}

ul.ghost-foot li .line2 {
    max-width: 36px;
    margin-left: 22px;
}

/*--------------------------------------------------
  // COOKIES
---------------------------------------------------*/

.wrapper-cookies {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 44px;
    top: 50%;
    margin-top: -11px;
    overflow: hidden;
}


.row-cookies {
    width: 2000px;
    float: left;
    height: 44px;
    margin-left: 0px;

    animation: move-cookies 8s linear 0s infinite;
    -webkit-animation: move-cookies 8s linear 0s infinite;
}

@keyframes move-cookies {
    0% {
        margin-left: -2px;
    }

    100% {
        margin-left: -792px;
    }
}

@-webkit-keyframes move-cookies {
    0% {
        margin-left: -2px;
    }

    100% {
        margin-left: -792px;
    }
}


.wrap-cookies {
    width: 800px;
    float: left;
    text-align: center;
}

.cookie {
    width: 44px;
    height: 44px;
    float: left;
    position: relative;
    margin: 0 22px;

}

.cookie:before,
.cookie:after {
    position: absolute;
    content: "";
    background-color: #FFF;

}

.cookie:before {
    top: 11px;
    left: 0px;
    width: 44px;
    height: 22px;
}

.cookie:after {
    top: 0px;
    left: 11px;
    width: 22px;
    height: 44px;
}